<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Delete a course</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static '/style.css' %}">
    </head>
    <body>
        <h1>Are you sure you want to delete the following course?</h1>
        <p>Name: {{ a_course.name }}</p>
        <p>Description {{ a_course.description }}</p>
        <form action="/" method="POST">
            {% csrf_token %}
            <button class="button" type="submit">No</button>
        </form>
        <form action="/courses_app/delete/{{ a_course.id }}" method="POST">
            {% csrf_token %}
            <button class="button"type="submit">Yes, I want to delete this!</button>
        </form>
    </body>
</html>